.App {
  text-align: center;
}

body {
  /* background: #c4c4c47e; */
  /* background:linear-gradient(90deg, rgba(255, 255, 198, 1) 0%, rgba(129, 241, 255, 1) 100%); */
  color: rgb(0, 0, 0);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 12px;
  font-size: 16px;
  background: rgb(22, 201, 255);
  color: rgb(0, 0, 0);
}

.input {
  height: 30px;
  width: 250px;
  border: 1px solid black;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.float {
  animation-name: ani-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ani-float {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.button {
  background-color: #c2eefb;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 16px;
  touch-action: manipulation;
  border:none;
  margin: 10px;
  font-family: 'Gumela';
}
.button:hover{
  transform: scale(1.1);
  background-color: rgb(38, 67, 236);
  color: rgb(255, 255, 255);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.refresh-button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.refresh-button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background: #91ceff;
}

.refresh-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.home-button {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-button:focus {
  outline: 0;
}

.home-button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.home-button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .home-button{
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
        